/* --------------------
    for common design 
--------------------- */
body{
    background-color: white;
    width: 1440px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* -------------------------
    navigation bar designe
--------------------------- */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    display: flex;
}
.navigation li{
    list-style-type: none;
    padding: 52px 18px 0px 18px;
}
/* text inside navigation bar 
---------------------------- */
.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

/* login button and icon desing 
----------------------------------- */
.login{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 125px;
    margin-top: 25px;
    background-color: #E02C6D;
    padding: 10px 24px;
}

span{
    font-size: 16px;
    color: white; 
}




/* ------------------------
    for header part design 
-------------------------- */
.first-heading{
    font-size: 64px;
}
.cop-ami-sec{
    background-color: rgb(45, 37, 160);
    width: 100%;
}
/* header section designe 
--------------------------- */
.heading-img-container {
    display: flex;
    align-items: center;
}
.cop-text, .cop-img{
    width: 50%;
}
/* banar image designe 
---------------------- */
.cop-img img{
    width: 80%;
}
.cop-text{
    color: white;
    text-align: left;
    margin: 100px;
    font-size: 40px;
}
.first-heading{
    margin: 10px;
}

/* designe for all button 
-------------------------- */
.button{
    background-color: #E02C6D;
    color: white;
    margin-left: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 24px;
}

.cop-text:hover a{
    font-size: 30px;
    transition: font-size 3s;
}





/* ------------------------
    for players designe
-------------------------- */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* all players section designe 
------------------------------ */
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
}
/* player box designe (common)
----------------------------- */
.player{
    /* width: 30%; */
    margin: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
/* player image size and name 
----------------------------- */
.player img{
    width: 100%;
}
.player-name{
    font-size: 28px;
}
.player-desc{
    font-size: 16px;
    color: #6C6C6C;
}






/* --------------------
    for All Highlights 
---------------------- */

.match{
    display: flex;
    width: 90%;
    margin-top: 165px;
    justify-content: center;
    align-items: center;
}
/* box sizing 
-------------- */
.match-description, .match-img{
    width: 100%;;
}
.match-description{
    border-right-width: 65px;
    margin-right: 65px;
}
.match-description h1{
    font-size: 48px;
}
.match-img img{
    width: 100%;
}








/* ----------------------
    live match designe 
------------------------- */

.live-match{
    display: flex;

}
/* esch box designe 
--------------------- */
.live-box {
    position: relative;
    width: 600px;
    height: auto    ;
    overflow: hidden;
    margin: 20px;
}

.live-description{
    display: none;
} 
/* to make the image and text hover 
----------------------------------- */
.live-box:hover .live-description{
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    background-color: #3b3b3b;
    opacity: 0.5;
    padding: 10px;
    color: aliceblue;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.live-box:hover img{
    transform: scale(1.5);
    transition: transform 2s;
    display: block;
}









/* ---------------------
    for footer section 
---------------------- */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-icon {
    display: flex;
    justify-content: center;
}
/* icon desing 
-------------- */
.icon i {
    height: 30px;
    width: 30px;
    margin: 0px 10px;
    color: #E02C6D;
}
/* footer image design 
---------------------- */
.footer-img img{
    width: 485px;
    height: 100px;
}
/* background color for button  */
.bg-color-button:hover{
    background-color: #6C6C6C;
}





/* --------------------------------
    responsive designe for Mobile
---------------------------------- */
@media only screen and (max-width: 660px) {

/* for body  
-------------*/
body{
    width: 100%;
    margin: 0;
}
.nav-bar{
    display: none;
}
.button{
    padding: 10px, 24px, 10px, 24px;
}

/* for header part design 
-------------------------- */
.first-heading{
    font-size: 30px;
}
.cop-ami-sec{
    background-color: rgb(45, 37, 160);
    max-width: 100%;
    margin: 0px;
}
.heading-img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cop-text, .cop-img{
    width: 80%;
}
.cop-img img{
    width: 100%;
}
.first-heading{
    margin: 0px;
}
.cop-text{
    color: white;
    text-align: left;
    margin: 10px;
    font-size: 40px;
}


/* palyers sectio 
------------------- */

.all-players{
    grid-template-columns: repeat(1, 1fr);
    width: 77%;
}

/* match section  
-------------------*/
.match{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 77%;
}
.match-description h1{
    font-size: 30px;
}
/* footer section  
-------------------*/
.footer-img img{
    width: 300px;
    height: auto;
}

.copyright p{
    font-weight: 400;
    font-size: 18px;
}
.live-match{
    display: flex;
    flex-direction: column;
    margin: 16px;
    max-width: 400px;
    overflow: hidden;
}
/* hover part 
---------------- */
.live-description{
    display: none;
} 
.live-box:hover .live-description{
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    background-color: #3b3b3b;
    opacity: 0.5;
    padding: 10px;
    color: aliceblue;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.live-box:hover img{
    transform: scale(1.5);
    transition: transform 2s;
    display: block;
}

}






/* ------------------------------------
    responsive designe for pad/tablet
-------------------------------------- */
@media only screen and (min-width: 660px) and (max-width: 1024px) {
    /* for all palyers 
    ------------------- */
    .all-players{
        grid-template-columns: repeat(2,1fr);
    }
    
    .live-description{
        display: none;
    } 
    /* hover the text on the image 
    --------------------------------- */
    .live-box:hover .live-description{
        display: block;
        position: absolute;
        text-align: center;
        top: 0;
        background-color: #3b3b3b;
        opacity: 0.5;
        padding: 10px;
        color: aliceblue;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .live-box:hover img{
        transform: scale(1.5);
        transition: transform 2s;
        display: block;
    }
    





}